.stig {
  background-image: url("./bimbi.jpg");
}

a:link {
  text-decoration: none;


}

a:visited {
  text-decoration: none;
  color: black;


}

a:hover {
  text-decoration: underline;
  color: blue;



}

a:active {
  text-decoration: underline;
  border: 50px;
}




.button01 {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;

}

.button02 {
  background-color: white;
  border: none;


  text-align: center;

  display: inline-block;
  font-size: 7px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}


#fa-3 {
  font-size: 30px;
  color: blue;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 23px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.btn-2 {
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
backface-visibility: hidden;
border: 1px solid rgba(#fff, 0);
bottom: 0px;
content: " ";
display: block;
margin: 0 auto;
position: relative;
transition: all 280ms ease-in-out;
width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
backface-visibility: hidden;
border-color: #fff;
transition: width 350ms ease-in-out;
width: 70%;
}

.btn-2:hover:before {
bottom: auto;
top: 0;
width: 70%;
}